<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MScan.Properties.Settings>
            <setting name="DefaultDeviceID" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDPI" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PreferNetwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preciseDPI" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="normalDPI" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="mailDPI" serializeAs="String">
                <value>100</value>
            </setting>
        </MScan.Properties.Settings>
    </userSettings>
</configuration>